.App {
  text-align: center;
  background-color:rgba(250, 235, 215, 0.77);
  padding: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn{
  margin: 20px;
  padding: 4px;
  color: #ffffff;
  background-color:rgba(26, 28, 26, 0.706);
  border: 1px groove rgba(0, 0, 0, 0.439);
  border-radius: 2px;
}

#form{
  margin-top: 300px;
  display: grid;
}

#form-textarea{
  margin-top: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .opacityIN {
    animation: opacityAnimationIN 5s ease-in;
    
  }
  .opacityOUT {
    animation: opacityAnimationOUT 5s ease-in;
    
  }
  #advice{
    font-size: 20px;
  }


@keyframes opacityAnimationIN {
  from{color: rgba(0, 0, 0, 0);}
  to{color: rgba(0, 0, 0, 0.999);}
}
@keyframes opacityAnimationOUT {
  from{color: rgba(0, 0, 0, 0.999);}
  to{color: rgba(0, 0, 0, 0);}
}
  
  
  